---
layout: default
title: Global codes
permalink: /global/
---

<div class="container-fluid mt-4">
    <input class="form-control" id="filter" type="text" placeholder="Search..">
    <hr>
    <div class="row justify-content-center cc-list" id="partner-list">
            {% assign collection = site.collections | where: 'label', 'wf-partner' | first %}
            {% for cc in collection.docs %}
                {% if cc.title == 'Template' %}
                    {% continue %}
                {% endif %}
                {% unless cc.global-glyph-code %}
                    {% continue %}
                {% endunless %}
                {% if cc.layout != 'cc' %}
                    {% continue %}
                {% endif %}
                {% include cc-card.html %}
            {% endfor %}
    </div>
</div>