<div>
    <a href="{{ cc.url }}" data-target="#{{ cc.title | slugify }}" data-toggle="modal">
        <div class="card text-white">
            <img class="card-img glyph-bg" src="{{ cc.glyphurl }}" alt="{{ cc.glyphname }}">
            <div class="card-img-overlay">
                <div class="card-footer">
                    <span class="float-right">({{ cc.glyphwave }})</span>
                    <span>{{ cc.glyphname }}</span>
                </div>
            </div>
        </div>
    </a>
    {% include cc-modal.html %}
</div>