<footer class="py-5">
  <hr>
  <div class="container text-center text-info">
    <div class="row">
      <div class="col">
        {% if site.show_social_icons %}
          {% include social_links.html %}
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="col">
        All content copyright Pegasy &copy; {{ site.time | date: '%Y' }}.
      </div>
    </div>
    <div class="row">
      <div class="col">
        All rights reserved.
      </div>
    </div>
  </div>
</footer>
<script>
  function LoadImageVersions(id, filename) {
    if ($(id).length && !$(id).children().length) {
      $.getJSON(
        `${BaseDataUrl}/versions/${filename}`,
        function (data) {
          $.each(data, function (ix, version) {
            var date = Date.parse(version.date);
            var tag = $(`<p>${version.date.split("T")[0]}</p>`);
            tag.append(
              `<img class="card-img-top glyph-bg" src="${BaseDataUrl}/version/${version.version}/${filename}" alt="${version.date}"></img>`
            );
            tag.appendTo(id);
          });
        }
      );
    }
  }

  $(document).on('click', '[data-toggle="modal"]', function (event) {
    event.preventDefault();
    var l = event.currentTarget.getAttribute('href');
    var ccid = event.currentTarget.getAttribute('data-ccid');
    var glyphurl = event.currentTarget.getAttribute('data-glyphurl');
    window.history.pushState({ "html": "", "pageTitle": "" }, "", url = l);
    ga('set', 'page', l);
    ga('send', 'pageview');
    LoadImageVersions(`#images_${ccid}`, glyphurl);
    $(event.currentTarget).next().find('img').attr('src', `${BaseDataUrl}/latest/${glyphurl}`);
  });

  $(document).on('change', '.cc-list input[type="checkbox"]', function(event){
    var checkedContentCreators = $('.cc-list input[type="checkbox"]').filter(':checked');
    var ccids = checkedContentCreators.map(function(i,e){return $(e).data('ccid')}).toArray();
    var hash = "#cc=" + ccids.join(",");
    window.location.hash = hash;
  });

  $(document).ready(function(){
    if(window.location.hash.includes('cc=')){
      var ccIds = window.location.hash.split('cc=')[1].split(',')
      var checkboxes = $('[data-ccid]').filter(function(i,e){ return ccIds.includes($(e).data('ccid').toString()) });
      checkboxes.prop("checked", true);
    }
  });

  $(document).on('hide.bs.modal', function () {
    history.back();
  });

  $(document).ready(function(){
    $("#filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#partner-list > div").filter(function() {
        var s = $(this).text().toLowerCase().indexOf(value);
        $(this).toggle(s > -1)
      });
    });
  });
</script>
{% if site.google_analytics %}
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
  ga('create', '{{ site.google_analytics }}', 'auto');
  ga('send', 'pageview');
</script>
{% endif %}
