<head>
  {% assign imageUrl = '/assets/images/icon.png' %}
  {% assign cssUrl = '/css/main.css?v=' | append: site.github.build_revision | relative_url | append: '8' %}
  {% if page.glyphurl %}{% assign imageUrl = site.baseAssetsUrl | append: page.glyphurl %}{% endif %}
  {% assign desc = site.description %}
  {% if page.glyphurl %}{% assign desc = page.content | strip_html %}{% endif %}
  {% if page.global-glyph-code %}{% assign desc = 'Click link to get global code' %}{% endif %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{ page.title | site.title }}</title>
  <script>
    const BaseDataUrl = "{{ site.baseDataUrl }}";
    const BaseAssetsUrl = "{{ site.baseAssetsUrl }}";
  </script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/js/all.min.js" integrity="sha512-YSdqvJoZr83hj76AIVdOcvLWYMWzy6sJyIMic2aQz5kh2bPTd9dzY3NtdeEAzPp/PhgZqr4aJObB3ym/vsItMg==" crossorigin="anonymous"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.2.2/lazysizes.min.js" integrity="sha512-TmDwFLhg3UA4ZG0Eb4MIyT1O1Mb+Oww5kFG0uHqXsdbyZz9DcvYQhKpGgNkamAI6h2lGGZq2X8ftOJvF/XjTUg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
  <script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha512-I5TkutApDjnWuX+smLIPZNhw+LhTd8WrQhdCKsxCFRSvhFx2km8ZfEpNIhF9nq04msHhOkE8BMOBj5QE07yhMA==" crossorigin="anonymous"></script>
  <meta name="description" content="{{ site.description }}" />
  <meta property="og:title" content="{{ page.title | site.title }}" />
  <meta property="og:description" content="{{ desc }}" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ imageUrl }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <link rel="shortcut icon" href="{{ imageUrl }}" type="image/x-icon" />
  <link rel="icon" type="image/png" href="{{'/assets/images/icon.png'}}">
  <link rel="stylesheet" href="{{ cssUrl }}">
</head>
