#banner{
  position: relative;
  //background: url('https://pbs.twimg.com/profile_banners/857306816086241281/1494964858/1500x500');
  //background: url('/img/banner.png');
  background: url('https://i.imgur.com/5yaAJfQ.png');
  min-height: 250px;

  .primary-overlay{
    background: rgba($primary, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
