
.cc-list .card-body {
  padding: 0.4em;
}

.cc-list .card {
  width: 12rem;
  height: 13.7rem;
  margin: 0.1em;
}

.glyph-bg {
  background-image: radial-gradient(circle, #333, #999, #000);
}


.cc-list .card-footer {
  position:absolute;
  bottom:0;
  left:0;
  width:100%;
  background-color: rgba($primary, 0.8);
  border:0;
  padding: 0.1em 0.5em;
}

// .icon-mixer {
//   background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFk%0D%0Ab2JlIElsbHVzdHJhdG9yIDIxLjEuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246%0D%0AIDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5z%0D%0APSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMu%0D%0Ab3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA1MTIgNTEyIiBz%0D%0AdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgeG1sOnNwYWNlPSJwcmVz%0D%0AZXJ2ZSI+CjxwYXRoIGQ9Ik0xMTYuMDMsNzcuNjhjLTE1Ljc2LTIxLjI5LTQ2LjcyLTI0LjYxLTY2%0D%0ALjkxLTYuMzZjLTE3LjQyLDE2LjA0LTE4LjgsNDMuMTMtNC43LDYyLjIxbDkwLjk2LDEyMS45Mkw0%0D%0AMy44NywzNzguNDgKCWMtMTQuMSwxOS4wOC0xMi45OSw0Ni4xNyw0LjcsNjIuMjFjMjAuMTgsMTgu%0D%0AMjUsNTEuMTUsMTQuOTMsNjYuOTEtNi4zNmwxMjcuNzMtMTcxLjY5YzMuMDQtNC4xNSwzLjA0LTku%0D%0AOTUsMC0xNC4xTDExNi4wMyw3Ny42OHoiLz4KPHBhdGggZD0iTTM5Ni4zNyw3Ny42OGMxNS43Ni0y%0D%0AMS4yOSw0Ni43Mi0yNC42MSw2Ni45MS02LjM2YzE3LjQyLDE2LjA0LDE4LjgsNDMuMTMsNC43LDYy%0D%0ALjIxbC05MC45NiwxMjEuOTJsOTEuNTEsMTIzLjAzCgljMTQuMSwxOS4wOCwxMi45OSw0Ni4xNy00%0D%0ALjcsNjIuMjFjLTIwLjE4LDE4LjI1LTUxLjE1LDE0LjkzLTY2LjkxLTYuMzZMMjY5LjQ3LDI2Mi4z%0D%0ANmMtMy4wNC00LjE1LTMuMDQtOS45NSwwLTE0LjFMMzk2LjM3LDc3LjY4eiIKCS8+Cjwvc3ZnPgo=");
//   height: 10px;
//   width: 10px;
// }